<div class="my-component">
    This component is defined in the <strong>Components</strong> library.
    We are referencing it in the actual application, using the namespace,
    and then we have access to use everything in there.
</div>
