 @page "/"
@using Radzen.Blazor

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to a very chill day in the 100 days of code: Click the button to hear audio! The Spotify creators are probably real quiet on this one I bet.

<br />

<h3 class="mt-3">Dramatic music</h3>
<audio controls="controls">
    <source src="https://bit.ly/404yhS9" type="audio/mp3">
</audio>
