@inherits LayoutComponentBase

<div class="antialiased bg-gray-800 text-gray-100">
    <div class="flex flex-col min-h-screen space-y-12">
        <header class="container flex items-center justify-between w-full max-w-3xl px-6 py-10 mx-auto xl:max-w-5xl">
            <a rel="noopener noreferrer" href="/" class="block h-6 text-2xl font-semibold">Clean Blog</a>
            <div class="flex items-center">
                <div class="hidden space-x-2 font-medium sm:block">
                    <AuthorizeView>
                        <span class="p-1">Hey @context.User.Identity?.Name!</span>
                    </AuthorizeView>
                    <a href="/" class="p-1">Articles</a>
                    <AuthorizeView>
                        <Authorized>
                            <a href="/logout" class="p-1">Logout</a>
                        </Authorized>
                        <NotAuthorized>
                            <a href="/register" class="p-1">Register</a>
                            <a href="/login" class="p-1">Login</a>
                        </NotAuthorized>
                    </AuthorizeView>
                </div>
            </div>
        </header>
        <main class="container flex-1 max-w-3xl px-6 mx-auto space-y-12 xl:max-w-5xl">
			@Body
		</main>
	</div>
</div>
