<section>
    <div class="d-flex flex-column mt-3 mb-3">
        <article class="mb-3">
            <h5>Subscribe to Premium</h5>
            <p>Subscribe to unlock new features and if eligable, receive a share of ads revenue.</p>
            <button>Subscribe</button>
        </article>
        <article>
            <h5>Who to follow</h5>
            <div class="w-100">
                Not implemented
            </div>
        </article>
    </div>
</section>
