@page "/architecture"

<PageTitle>Learn Architecture</PageTitle>

<h1 class="mb-5">Learn Architecture</h1>

<article class="mt-2">
    <h4>Clean Architecture talk</h4>
    <p>By Robert C. Martin (Uncle Bob)</p>
    <iframe width="560" height="315"
            src="https://www.youtube.com/embed/2dKZ-dWaCiU" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
                gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</article>

<br />

<article class="mt-2">
    <h4>10 Design Patterns in 10 minutes</h4>
    <p>By Fireship</p>
    <iframe width="560" height="315"
            src="https://www.youtube.com/embed/tv-_1er1mWI" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</article>
