@page "/python"

<PageTitle>Learn Python</PageTitle>

<h3 class="mb-5">Learn Python</h3>

<article class="mt-2">
    <a href="https://www.udemy.com/course/100-days-of-code/" target="_blank">
        <h4>100 Days of Code with Python (paid)</h4>
    </a>
    <p>By Dr. Angela Yu</p>
</article>
