@page "/visualstudio"

<PageTitle>Learn Visual Studio</PageTitle>

<h3 class="mb-5">Learn Visual Studio</h3>

<article class="mt-2">
    <a href="https://app.pluralsight.com/paths/skill/visual-studio-2022" target="_blank">
        <h4>Visual Studio Course on Pluralsight</h4>
    </a>
    <p>By Barry Luijbregts, Matthew Kruczek, Erik Dahl, Mel Grubb, Ed Freitas, Thomas Claudius Huber, Chris Behrens & Matthew Soucoup</p>
</article>
