@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView>
        <Authorized>
            <main>
                <article class="content" style="margin: 0px 40px; padding: 0;">
                    @Body
                </article>
            </main>
        </Authorized>
        <NotAuthorized>
            @Body
        </NotAuthorized>
    </AuthorizeView>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
