@page "/"

<PageTitle>Home.razor</PageTitle>

<div>
    <h1>Home.razor</h1>
    <Parent ComponentMessage="Parent Message from home"
            ChildComponentMessage="Child Message from home" />
</div>
