@page "/gallery"

<h3>Gallery Page</h3>

<div class="mb-5">
    <h4>Mona Lisa</h4>
    <p>By Leonardo da Vinci</p>
    <p>Mona Lisa is a half-length portrait painting by the Italian artist Leonardo da Vinci. Considered an archetypal masterpiece of the Italian Renaissance, it has been described as "the best known, most visited, most written about, most sung about, most parodied work of art in the world."</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg" style="width: 125px; height: 160px;" />
</div>

<div class="mb-5">
    <h4>Creation of Adam</h4>
    <p>By Michelangelo</p>
    <p>Creation of Adam is part of the ceiling decoration in the Sistine Chapel and is the best known of the frescoes painted by Michelangelo ca. 1511. It illustrates the account of creation in the Bible's book of Genesis, where God breathes life into the first man, Adam.</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/5/5b/Michelangelo_-_Creation_of_Adam_%28cropped%29.jpg" style="width: 180px; height: 120px;" />
</div>

<div class="mb-5">
    <h4>The Last Supper</h4>
    <p>By Leonardo da Vinci</p>
    <p>The Last Supper is a mural by Leonardo da Vinci for Duke Ludovico Sforza, called "Il Moro". The painting depicts the Last Supper as described in the Bible. The 460 x 880 cm painting can be found in the monastery of Santa Maria delle Grazie in Milan. Leonardo da Vinci began work in 1495 and finished it in 1498.</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Leonardo_da_Vinci_%281452-1519%29_-_The_Last_Supper_%281495-1498%29.jpg" style="width: 160px; height: 125px;" />
</div>

<div class="mb-5">
    <h4>Girl with a Pearl Earring</h4>
    <p>By Johannes Vermeer</p>
    <p>Girl with pearl earring is an oil painting from approx. 1665 by the Dutch painter Johannes Vermeer. The painting is exhibited at the Mauritshuis in The Hague. It is called the "Mona Lisa of the North".</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/0/0f/1665_Girl_with_a_Pearl_Earring.jpg" style="width: 150px; height: 160px;" />
</div>

<div class="mb-5">
    <h4>The Scream</h4>
    <p>By Edvard Munch</p>
    <p>The Scream is a composition created by Norwegian artist Edvard Munch in 1893. The Norwegian name of the piece is Skrik (Scream), and the German title under which it was first exhibited is Der Schrei der Natur (The Scream of Nature). The agonized face in the painting has become one of the most iconic images in art, seen as symbolizing the anxiety of the human condition.</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/c5/Edvard_Munch%2C_1893%2C_The_Scream%2C_oil%2C_tempera_and_pastel_on_cardboard%2C_91_x_73_cm%2C_National_Gallery_of_Norway.jpg" style="width: 125px; height: 175px;" />
</div>

<div class="mb-3">
    <h4>Arnolfini's wedding</h4>
    <p>By Jan van Eyck</p>
    <p>The Wedding of Arnolfini is an oil painting painted on oak in 1434 by the Flemish painter Jan van Eyck. It is also known as the Arnolfini portrait, the Arnolfini double portrait and Portrait of Giovanni Arnolfini.</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/3/33/Van_Eyck_-_Arnolfini_Portrait.jpg" style="width: 125px; height: 160px;" />
</div>
