@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Hi there!
I was planning to do more and "finish" this job portal app, but you only have so much time to code in a day,
and this time I didn't manage to finish it for today's Blazor coding project. Most functionality is working,
but there is also a lot of cool stuff I had planned for Job Posts, but I didn't make it this time.
