@page "/blazor"

<PageTitle>Learn Blazor</PageTitle>

<h1 class="mb-5">Learn Blazor</h1>

<article class="mt-2">
    <h4>Blazor United Prototype (.NET 8 Blazor Render Modes)</h4>
    <p>By Steve Sanderson</p>
    <iframe width="560" height="315"
            src="https://www.youtube.com/embed/48G_CEGXZZM" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</article>

<br />

<article class="mt-2">
    <h4>CRUD with .NET 8 Blazor with all Render Modes (SSR, Server, WASM, Auto)</h4>
    <p>By Patrick God</p>
    <iframe width="560" height="315"
            src="https://www.youtube.com/embed/w8imy7LT9zY" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</article>

<br />

<article class="mt-2">
    <h4>The biggest issue with Blazor (and how to fix it)</h4>
    <p>By Codewrinkles</p>
    <iframe width="560" height="315"
            src="https://www.youtube.com/embed/orskSm6OAlQ" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</article>

<br />

<article class="mt-2">
    <a href="https://github.com/KNPhilip/BlazorEcommerce" target="_blank">
        <h4>Blazor eCommerce GitHub repository</h4>
    </a>
    <p>By KNPhilip</p>
</article>
