@page "/csharp"

<PageTitle>Learn C#</PageTitle>

<h1 class="mb-5">Learn C#</h1>

<article class="mt-2">
    <h4>.NET Aspire showcase</h4>
    <p>By Nick Chapsas</p>
    <iframe width="560" height="315"
            src="https://www.youtube.com/embed/DORZA_S7f9w" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</article>

<br />

<article class="mt-2">
    <h4>Static implicit/explicit operators</h4>
    <p>By Patrick God</p>
    <iframe width="560" height="315"
            src="https://www.youtube.com/embed/HcOZk_Jgycc" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</article>

<br />

<article class="mt-2">
    <h4>Lecture in Inversion of Control & Dependency Injection</h4>
    <p>By Amichai Mantinband</p>
    <iframe width="560" height="315"
            src="https://www.youtube.com/embed/yjUCKSKCQxg" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</article>

<br />

<article class="mt-2">
    <h4>Learning to use C# Tuples</h4>
    <p>By Zoran Horvat</p>
    <iframe width="560" height="315"
            src="https://www.youtube.com/embed/Wyp7XaFYRBs" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</article>
