@page "/"

<PageTitle>Home.razor</PageTitle>

<div>
    <h1>Home.razor</h1>
    <Component ComponentName="First Component" />
    <Component ComponentName="Second Component" />
    <Component ComponentName="Third Component" />
    <Component ComponentName="Fourth Component" />
</div>
