@inherits LayoutComponentBase

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar>
        MudBlazor Experiments
    </MudAppBar>
    <MudMainContent>
        <div class="m-5 p-5">
            @Body
        </div>
    </MudMainContent>
</MudLayout>
