@page "/"

<AuthorizeView>
    <Authorized>
        <div class="d-flex justify-content-around w-100 h-100">
            <NavMenuLeft />
            <AuthorizedHomePage />
            <NavMenuRight />
        </div>
    </Authorized>
    <NotAuthorized>
        <UnauthorizedHomePage />
    </NotAuthorized>
</AuthorizeView>
